[project]
	state = active
[access "refs/heads/*"]
	owner = group Administrators
	create = group KFire Maintainers
	push = +force group KFire Maintainers
	label-Code-Review = -2..+2 group KFire Maintainers
	label-Verified = -1..+1 group KFire Maintainers
	submit = group KFire Maintainers
[access "refs/tags/*"]
	create = group KFire Maintainers
	push = +force group KFire Maintainers
